body.light {
    --bg-color: #f3f4f6; /* Claro */
    --text-color: #1f2937; /* Escuro */
    --card-bg: #ffffff;
    --border-color: #d1d5db;
  }

  body.dark {
    --bg-color: #1f2937; /* Escuro */
    --text-color: #f9fafb; /* Claro */
    --card-bg: #374151;
    --border-color: #4b5563;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .card {
    background-color: var(--card-bg);
    border-color: var(--border-color);
  }